h1{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}

h5{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

footer{
    color: white;
    background-color: #2a3342;
}

footer .nav-link{
    color: white;
}

.bg-body-tertiary{
    --bs-bg-opacity: 0;
}

.btnNav{
    width: 100px;
}

.card{
    --bs-card-border-color: none;
}

.greenButton{
    background-color: #2ad167;
    color: white;
}

.bi-check{
    background-color: #2ad167;
    border: solid 1px #22aa56;
    border-radius: 100%;
    color: white;
}

.navbar-brand{
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
}

.icons{
 background-color: #2ad167;
 display: flex;
 width: 50px;
 height: 50px;
 align-items: center;
 justify-content: center;
 border-radius: 5px;
}


.cardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.check{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check li{
    border: none;
    background-color: transparent;
}

.badge{
    background-color: #c9f5d9;
    color: #2ad167;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price{
    display: flex;
}

.cardBg{
    background-color: #f7f8f9;
    padding: 20px;
}

.cardBg h6{
    margin-top: 20px;
}
.price{
    margin-top: 20px;
}



#demos{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pNew{
    color: white;
    background-color: #2ad167;
    width: 60px;
    text-align: center;
    border-radius: 10px;
}

#logo{
    width: 30px;
    height: 30px;
    margin-right: 3px;
}
    